# trash from running the calcs in the same directory as the code
dcp.fin
dcp.ini
dcp.ini2
basis.ini
dcp.log
pdf/

# compiled objects and modules
*.o
*.mod
fit-bsip/post_eval
fit-bsip/scan_ls
fit-bsip/dat/*.dat

# emacs backups
*~
